@font-face {
	font-family: Jua;
	src: url(/jua.ttf);
}

:root {
	--shadow: 0px 2px 2px #0005;
}

.secondary-button {
	background-image:
		linear-gradient(
			rgba(255, 255, 255, 0.05) 25%,
			transparent 25%,
			transparent 75%,
			rgba(255, 255, 255, 0.05) 75%,
			rgba(255, 255, 255, 0.05)
		),
		linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.05) 25%,
			transparent 25%,
			transparent 75%,
			rgba(255, 255, 255, 0.05) 75%,
			rgba(255, 255, 255, 0.05)
		);
	background-color: #4f8fba;
	background-repeat: repeat;
	border: none;
	position: relative;

	padding: 5px;
	color: #f8e9d3;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: var(--shadow);
	font-size: 0;

	img {
		height: 36px;
		margin: 0;
	}
}

.indicator {
	position: absolute;
	top: -16px;
	right: -16px;
	width: 32px;
}
