.yellow {
	--bg: #dd9f40;
	--text: #f8e9d3;
	--accent: #bf782b;
	--subtitle-text: #884b2b;
	--subtitle-bg: #e7bf6e;
}

.red {
	--bg: #be4b53;
	--text: #f8e9d3;
	--accent: #a3383f;
	--subtitle-bg: #f9b19f;
	--subtitle-text: #592c26;
}

.background {
	width: 100dvw;
	height: 100dvh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(2px);
	z-index: 20;
}

.preview {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	img {
		width: 192px;
	}
}

.button-blue {
	--bg: #3d5e8a;
	--border: #4f8fba;
}

.button-red {
	--bg: #a3383f;
	--border: #be4b53;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.buttons button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: #f8e9d3;
	background-color: var(--bg);
	border: 5px solid var(--border);
	border-radius: 10px;
	padding: 0.375rem;
	width: 100%;
	font-family: 'Jua';
	font-size: 1.25rem;
	box-shadow: var(--shadow);
	cursor: pointer;

	img {
		height: 32px;
		width: 32px;
	}
}

.image-and-overlay {
	position: relative;
	display: flex;

	.overlay {
		position: absolute;
		scale: 1.55;
		top: 5px;
		left: -8px;
	}

	.profile {
		border-radius: 50%;
		box-shadow: var(--shadow);
	}
}

.menu {
	display: grid;
	gap: 16px;
	grid-template-columns: min(600px, 60%) 1fr;
	font-family: 'Jua';
	width: min(792px, 80%);

	padding: 32px;
	background-color: #f8e9d3;
	background-image: repeating-conic-gradient(
		from 0deg,
		rgba(0, 0, 0, 0.08) 0deg 90deg,
		transparent 90deg 180deg
	);
	background-size: 120px 120px;
	border: 2px solid rgba(139, 102, 70, 0.15);
	border-radius: 10px;
	box-shadow: 0 18px 32px #2f221514;
}

.question {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: var(--bg);
	margin-top: 40px;
	position: relative;
	border-radius: 0 10px 10px 10px;
	color: #f8e9d3;
	box-shadow: var(--shadow);

	h1 {
		font-size: 1.25rem;
		position: absolute;
		top: -25px;
		left: 0;
		margin: 0;
		padding: 8px 24px;
		border-radius: 10px 10px 0 0;

		background-color: var(--bg);
	}

	.spacer {
		height: 4px;
	}

	.subtitle {
		background-color: var(--subtitle-bg);
		border-radius: 0 0 8px 8px;
		padding: 8px;
		color: var(--subtitle-text);
		font-size: 0.875rem;
	}
}

.checkbox-input,
.range-input {
	display: flex;
	padding-left: 24px;

	img {
		background-color: var(--accent);
		border-radius: 8px 0 0 8px;
		height: 48px;
		width: 48px;
		user-select: none;
		box-shadow: var(--shadow);
	}

	input {
		margin: 0;
		padding: 0 16px;
		background-color: var(--text);
		appearance: none;
		border-radius: 0 8px 8px 0;
		cursor: pointer;
		box-shadow: var(--shadow);
		position: relative;
	}
}

.checkbox-input {
	input {
		background-color: var(--text);
		width: 48px;
		cursor: pointer;
	}

	input::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 24px;
		height: 24px;
		border: 2px solid var(--accent);
		border-radius: 8px;
	}

	input:checked::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 24px;
		height: 24px;
		background-color: var(--accent);
		border-radius: 8px;
	}
}

.range-input {
	input::-moz-range-track {
		background-color: var(--accent);
		height: 2px;
	}

	input::-moz-range-thumb {
		background: var(--text);
		border-radius: 50%;
		border: 2px solid var(--accent);
	}
}

.image-radio {
	display: flex;
	flex-wrap: wrap;
	padding-left: 24px;
	gap: 8px;

	label {
		cursor: pointer;
		background-color: var(--accent);
		position: relative;
		border-radius: 10px;
		line-height: 0;
	}

	input {
		cursor: pointer;
		width: 96px;
		height: 96px;
		appearance: none;
		margin: 0;
		line-height: 0;
		border-radius: 10px;
	}

	input:checked {
		outline: 2px solid white;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;

		width: 96px;
	}
}
