img {
	user-select: none;
}

.no-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	line-height: 0;
}

.info {
	background-color: #75a843;
	font-family: 'Jua';
	margin-top: 20px;
	padding-top: 20px;
	width: 192px;
	border-radius: 0 10px 10px 10px;
	transform: translateY(-50%);
	margin-left: 24px;
	box-shadow: var(--shadow);
	position: absolute;
	z-index: 10;
	left: 54px;
	/* transla */
	/* top: -42px; */

	a {
		font-size: 1.25rem;
		color: #f8e9d3;
		background-color: #75a843;
		padding: 8px 24px 0px;
		position: absolute;
		overflow-wrap: break-word;
		/* top: -20px; */
		min-height: 20px;
		/* height: min-content; */
		transform: translateY(calc(-100% - 15px));
		max-width: 70%;
		border-radius: 10px 10px 0 0;
	}

	.created-at {
		display: flex;
		flex-direction: column;
		background-color: #d0da90;
		/* position: absolute; */
		color: #592c26;
		font-size: 0.75rem;
		padding: 8px;
		border-radius: 0 0 10px 10px;
	}

	.likes {
		margin-bottom: 10px;
		margin-left: 20px;
		display: flex;
		align-items: center;
		background-color: #f8e9d3;
		width: min-content;
		border-radius: 10px;
		box-shadow: var(--shadow);

		img {
			height: 36px;
			width: 36px;
		}

		button {
			background-color: #468132;
			border: none;
			padding: 0;
			line-height: 0;
			border-radius: 10px 0 0 10px;
			cursor: pointer;
		}

		button:disabled {
			/* opacity: 0.6; */
			cursor: not-allowed;
		}

		p {
			text-align: center;
			width: 80px;
			margin: 0;
			/* line-height: 36px; */
			/* height: 36px; */
		}
	}
}

.ornament {
	position: absolute;
	display: flex;
}

.profile {
	/* height: 50px; */
	transition-property: height;
	transition-duration: 300ms;
	border-radius: 50%;
}

.overlay {
	position: absolute;
	/* height: 50px; */
	transition-property: height;
	transition-duration: 500ms;
	left: -2px;
	top: 1px;
	scale: 1.55;
	pointer-events: none;
}

img.pulsing {
	animation: pulse 4s infinite;
	cursor: move;
}

@keyframes pulse {
	0%,
	100% {
		filter: brightness(1);
	}

	50% {
		filter: brightness(0.7);
	}
}
