.profile-card {
  display: flex;
  background-color: #be4b53;
  padding: 10px;
  padding-right: 0;
  border-radius: 10px;
  width: min-content;

  img {
    height: 50px;
    border-radius: 100%;
    /* outline: 10px solid #be4b53; */
    z-index: 10;
    box-shadow: var(--shadow), 0px 0px 0px 10px #be4b53;

  }

  h1 {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    text-shadow: var(--shadow);
    background-color: #a3383f;
    margin: 0;
    position: relative;
    left: -10px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 30px;
    font-family: "Jua";
    color: #f8e9d3;
    /* margin-left: 10px; */
  }
}